    body{
            background:black;
    }

    #welcome{
        z-index:2;
        color:#00ff08;
        position:absolute;
            left: 550px;
            top: 130px;
            font-size:5em;
        font-family:monospace;
    }

    #background-pic {
            position: absolute;
            z-index: 1;
    }
    #intro{
        position: absolute;
        z-index:2;
        color:#00ff08;
            top: 175px;
            left: 250px;
        font-family:monospace;
    }
    #purpose{
        position: absolute;
        z-index:2;
        color:#00ff08;
        top:175px;
        left:830px;
        font-family:monospace;
    }
    #aboutme{
        column-rule: #00ff08;
        z-index:2;
        position:absolute;
        top:250px;
        font-size:1.5em;
        left: 620px;  
        color: white;
    }
    #aboutmedescribe{
        color: #00ff08;
        z-index:2;
        position:absolute;
        top:290px;
        font-size:0.8em;
        left: 540px;    
    }
  #htmlcss{
        column-rule: #00ff08;
        z-index:2;
        position:absolute;
        top:300px;
        font-size:1.5em;
        left: 620px;
    }
#htmlcssdescribe{
       color: #00ff08;
        z-index:2;
        position:absolute;
        top:340px;
        font-size:.8em;
        left: 520px;
    }
  #computerhardware{
        column-rule: #00ff08;
        z-index:2;
        position:absolute;
        top:350px;
        font-size:1.5em;
        left: 572px;
    } 
  #computerhardwaredescribe{
        color: #00ff08;
        z-index:2;
        position:absolute;
        top:390px;
        font-size:.8em;
        left: 495px;
    } 
  #aboutmeheader{
      color:blue;
      text-align:center;
      font-size:2em;
}
  #htmlcssbody{
      color:blue;
      text-align:center;
      font-size:2em;
  }
  #htmlcssheader{
      color:blue;
      text-align:center;
      font-size:2em;
  }
  #info{
      color:white;
      text-align:center;
  }
